.table {
  border-color: black;
  border:5px;
}
.dropbtn {
    background-color: #f4511e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 5px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: black}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}
.jumbotron {
      background-color: #f4511e;
      color: #fff;width: 100%;height: 25%;margin-top: 0px;
      -webkit-animation-name: example;
      -webkit-animation-duration: 4s;
      animation-name: example;
      animation-duration: 4s;
  }
  @-webkit-keyframes example {
    from {background-color: #f4511e;}
    to {background-color: black;}
  }

  @keyframes example {
    from {background-color: #f4511e;}
    to {background-color: black;}
  }
  .para {
    text-align: center;
  }
  .parax {
    text-align: left;
  }
  .text-center {
        text-align: center;
    }
  body {margin-top: 0px;
  }
.heading {
      background-color: #f4511e;
      color: #fff;width: 100%;height: 25%;margin-top: 0px;
      -webkit-animation-name: example;
      -webkit-animation-duration: 4s;
      animation-name: example;
      animation-duration: 10s;
  }
  @-webkit-keyframes example {
    from {background-color: #f4511e;}
    to {background-color: black;}
  }

  @keyframes example {
    from {background-color: #f4511e;}
    to {background-color: black;}
  }
.storyline {
    text-align: left;background-color:#f4511e;
    border-color: black;
  }
.parampa {
  text-align: center;background-color: blue;color: white;
}
div.picture {
    border: 0px solid #ccc;
    float: left;
  }

div.picture:hover {
    border: 10px solid #777;
  }

div.picture {
    padding: 15px;
  }
.picturepost{
  object-position: left;
}
.picture-news {
  text-align: center
}
